body {
  margin: 0;
  font-family:sans-serif, Arial;
}

.logoNav{
  height: 50px;
  width: 40px;
}

.block{
  background: linear-gradient(gold,#0d6efd);
  padding: 10px;
  font-size: large;
}

.block-2{
  background: linear-gradient(grey,#0d6efd);
}

.heightBlock{
  height: 70vh;
}


