body {
  margin: 0;
  font-family:sans-serif, Arial;
}

.logoNav{
  height: 50px;
  width: 40px;
}

.block{
  background: linear-gradient(gold,#0d6efd);
  padding: 10px;
  font-size: large;
}

.block-2{
  background: linear-gradient(grey,#0d6efd);
}

.heightBlock{
  height: 70vh;
}

.sp_block{
  color: white;
  background-image:linear-gradient(150deg, blue, gold);
  border: none;
}

.sp_block:hover{
  transform: scale(1.1);
  transition: 0.5s;
  background-image:linear-gradient(90deg, blue, gold);

}

